@page
@model ASP.NET_Projekt.Pages.MyEvents.IndexModel

@{
    ViewData["Title"] = "My Events";
}

<div class="accordion" id="accordionExample">
    @foreach (var item in Model.Events)
    {
        <div class="card">
            <div class="card-header p-0" id="heading-@item.Id">
                
                    <button class="btn btn-link w-100 text-left p-4" type="button" data-toggle="collapse" data-target="#collapse-@item.Id" aria-expanded="true" aria-controls="collapse-@item.Id">
                        <h3>
                            @Html.DisplayFor(modelItem => item.Title)
                        </h3>
                    </button>
                
            </div>

            <div id="collapse-@item.Id" class="collapse" aria-labelledby="heading-@item.Id" data-parent="#accordionExample">
                <div class="card-body">
                    <div class="border-bottom">
                        <h4>Description</h4>
                        <p>@Html.DisplayFor(modelItem => item.Description)</p>
                    </div>
                    <div class="border-bottom">
                        <h4>Address</h4>
                        <p>@Html.DisplayFor(modelItem => item.Place)</p>
                        <p>@Html.DisplayFor(modelItem => item.Address)</p>
                    </div>
                    <div class="border-bottom">
                        <h4>When</h4>
                        <p>@Html.DisplayFor(modelItem => item.Date)</p>
                    </div>
                    <div class="border-bottom">
                        <h4>Spots Available</h4>
                        <p>@Html.DisplayFor(modelItem => item.SpotsAvailable)</p>
                    </div>

                    <div>
                        <a class="btn btn-danger" asp-page="./Delete" asp-route-id="@item.Id">Leave this event</a>
                        <!-- Ska visas beroende på vilken roll man har
                            <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a>
                        -->


                    </div>

                </div>
            </div>
        </div>
    }
</div>
