@page
@model ASP.NET_Projekt.Pages.Events.IndexModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<div class="accordion" id="accordionExample">
    @foreach (var item in Model.Event) {
        <div class="card">
            <div class="card-header p-0" id="heading-@item.Id">
                <h2 class="mb-0">
                    <button class="btn btn-link w-100 text-left p-4" type="button" data-toggle="collapse" data-target="#collapse-@item.Id" aria-expanded="true" aria-controls="collapse-@item.Id">
                        @Html.DisplayFor(modelItem => item.Title)
                    </button>
                </h2>
            </div>

            <div id="collapse-@item.Id" class="collapse" aria-labelledby="heading-@item.Id" data-parent="#accordionExample">
                <div class="card-body">
                    <p>@Html.DisplayFor(modelItem => item.Description)</p>
                    <p>@Html.DisplayFor(modelItem => item.Place)</p>
                    <p>@Html.DisplayFor(modelItem => item.Address)</p>
                    <p>@Html.DisplayFor(modelItem => item.Date)</p>
                    <p>@Html.DisplayFor(modelItem => item.SpotsAvailable)</p>
                    <div>
                        <a class="btn btn-primary" asp-page="./Details" asp-route-id="@item.Id">Join</a>

                        <!-- Ska visas beroende på vilken roll man har
                            <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a>
                            <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
                        -->
                    </div>
                </div>
            </div>
        </div>
    }
</div>

