@page
@model ASP.NET_Projekt.Pages.Admin.UserDetailsModel

@{
    ViewData["Title"] = "User Details";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>@Model.User.UserName</h1>

<hr />
<div class="container">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="User.Id" />
            @foreach (var item in Model.Roles)
            {
                <h4>@Html.DisplayFor(modelItem => item)</h4>
            }
            @if (Model.User.LockoutEnd != null)
            {
                <h3 class="text-danger">Banned</h3>
            }
            @if (Model.DetailsChanged)
            {
                <div class="d-flex justify-content-center alert-success">
                    <h2>Details updated</h2>
                </div>
            }
            <div class="form-group">
                <label asp-for="User.UserName" class="control-label"></label>
                <input asp-for="User.UserName" class="form-control" />
                <span asp-validation-for="User.UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User.FirstName" class="control-label"></label>
                <input asp-for="User.FirstName" class="form-control" />
                <span asp-validation-for="User.FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User.LastName" class="control-label"></label>
                <input asp-for="User.LastName" class="form-control" />
                <span asp-validation-for="User.LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User.Email" class="control-label"></label>
                <input asp-for="User.Email" class="form-control" />
                <span asp-validation-for="User.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User.PhoneNumber" class="control-label"></label>
                <input asp-for="User.PhoneNumber" class="form-control" />
                <span asp-validation-for="User.PhoneNumber" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="User.JoinedEvents" class="control-label"></label>
                @foreach (var item in Model.UserEvents)
                {
                    <br />
                    @Html.DisplayFor(modelItem => item.Title)
                    <a type="button" class="btn btn-outline-info" asp-page="../Events/Details" asp-route-id="@item.Id">See this event</a>
                }
            </div>
            <div class="row">
                <div class="form-group mx-1">
                    <form method="post">
                        <input type="submit" value="Save" class="btn btn-primary" />
                    </form>
                </div>
        
        <div class="form-group mx-1">
            @{string banValue; }
            @if (@Model.User.LockoutEnd != null)
            {
                banValue = "Unban";
            }
            else
            {
                banValue = "Ban!";
            }
            <input type="submit" value="@banValue" class="btn btn-danger" asp-route-id="@Model.User.Id" asp-route-BanUser="true" />
        </div>
    </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./ManageUsers">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
